body{
    font-family: 'Open Sans', sans-serif; /* Fuente de todo nuestro body */
    margin: 0;
    padding: 0;
}

/*color de el apartado de menus*/
header{
    background-color: #f0a03c;
    height: 90px;
    background-size: 100% 100%;
    color: #fff;
}

/*color del fondo*/
nav{
    background-color: #362E2B;
}
  
/*color de los textos*/
p{
    color: aliceblue;
    text-shadow: rgb(145, 145, 145);
}

/*color de sombras separacion*/
div{
    box-shadow: #665751;
}


body{
    margin: 0;
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
  }
  .C1{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 2px 1%;
    border-color: black;
    width: 99%; 
    height: 760px;
    overflow:hidden;
  }
  .C1:hover{
    margin: 0;
    padding: 0;
    border-color: rgb(218, 106, 27);
    border-collapse: collapse;
    color: white;
  }
  .videofondo{
    min-width: 100%;
    min-height: 760px;
  }
  .Contenido{
    position: relative;
    bottom: 730px;
    background: rgba(73, 73, 73, 0.8);
    color: #f1f1f1;
    width: 90%;
    margin: 0px 5%;
    padding: 0px;
    border-radius: 15px;
  }
  .Contenido p{
    border: none;
    margin: 0;
    padding: 20px;
    text-align: justify;
  }
  .Contenido p b{ 
    color:rgb(218, 106, 27);
  }
  .Contenido ol{
    text-align: justify;
    padding: 0px 20px 0px 40px;
  }

  .Contenido h1{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
    color: rgb(218, 106, 27);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  ul{
    margin: 0;
  }
  ol{
    margin: 0;
  }
  .principal1{
    width: 100%;
    background-color: #555;
    padding: 25px 0px;
  }
  .principal1 h2{
    text-align: center;
    color: rgb(218, 106, 27);
    padding: 0px;
    margin: 0px;
  }
  .menu{
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0px;
    border:none;
}
.mhorz{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden; /*¿Qué es esto?*/
    background-color: white;
    height: 100px;
}
.horz{
    float: left;    
}
.horz a{
    display: block;
    padding: 40px 16px;
    height: 100px;
    margin: 0;
    text-decoration: none;
    color: #555;
    font-weight: bolder;
}
a:hover{
    background-color: #555;
    color: rgb(218, 106, 27);
    font-weight: bolder;
}
.pie{
    width: 100%;
    height: 60px;
    margin: 0px 0px;
    padding-top: 10px; 
    text-align: center;
}
*{
	margin: 0;
	padding: 0;	
}

.fondo-formulario{
background-image: url("../images/descarga.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-position-x: center;
}

.contenedor form{
	background-color: rgba(0,0,0,0.3);
	width: 40%;
	margin: 20px 30%;
	padding: 35px;
	border-radius: 20px;	
	position: relative;

}

.contenedor2 form{
	background-color: rgba(0,0,0,0.3);
	width: 40%;
	margin: 20px 20px 20px auto;
	padding: 35px;
	border-radius: 20px;	
	position: relative;

}

.contenedor .titulo1-form{
	width: 70%;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 25px;
	margin: 10px 15%;	
	text-align: center;
	border-radius: 5px;
}

.contenedor form .form-input{
	width: 94%;
	padding: 10px;	
	margin: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-subir{
	width: 30%;
	padding: 10px;	
	margin: 7px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-fecha{
	width: 44%;
	padding: 10px;	
	margin: 5px 48px 5px 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-barrio{
	width: 40%;
	padding: 10px;	
	margin: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-direccion{
	width: 47%;
	padding: 10px;	
	margin: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-doc{
	width: 60%;
	padding: 10px;	
	margin: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-telefonos{
	width: 43%;
	padding: 12px;	
	margin: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form select {
	width: 30%;
	padding: 10px;	
	margin: 5px 10px 5px 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;			
}

.contenedor form .select-origen{
	width: 28.5%;
	margin: 5px 10px 5px 5px;
}

.contenedor form label{
	text-align: center;
	margin-left: 6px;
}

footer{
	width: 100%;
	background-color: darkgray;
	color: #fff;
	text-align: center;
}

.contenedor form .form-input-inscribir{
	width: 30%;
	padding: 10px;	
	margin: 7px 35%;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	border: none;	
	border-radius: 5px;		
}

.contenedor form .form-input-inscribir{
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.footer{
  margin-top: 300px;
}
.galeria{
  width: 96%;
  display: inline-flex;
  height: 420px;
  background-color: rgb(73, 73, 73);;
  margin: 1% 15px;
  border: black solid 1px;
  padding: 1% 10px;
}
.foto{
  width: 30%;
  height: 400px;
  margin: 10px 2%;
  background-color: rgb(73, 73, 73);
  overflow: hidden;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
}
.foto:hover{
  transform: scale(1.1);
  transition: 500ms;
}
.encima{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(218, 106, 27,0.7);;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.foto:hover .encima{
  bottom: 0;
  height: 100%;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  /*background-color: rgba(184, 181, 181, 0.8);*/
  display: block;
  width: 100%;
}
.video{
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
  left: 350px;
}
