body{
    margin: 0;
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
  }
  .C1{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 2px 1%;
    border-color: black;
    width: 98%; 
    height: 760px;
    overflow:hidden;
    position: relative;
    left: 8.5px;
  }
  .C1:hover{
    margin: 0;
    padding: 0;
    border-color: rgb(218, 106, 27);
    border-collapse: collapse;
    color: white;
  }
  .videofondo{
    min-width: 100%;
    min-height: 760px;
  }
  .Contenido{
    position: relative;
    bottom: 730px;
    background: rgba(73, 73, 73, 0.8);
    color: #f1f1f1;
    width: 90%;
    margin: 0px 6.5%;
    padding: 0px;
    border-radius: 15px;
  }
  .Contenido p{
    border: none;
    margin: 0;
    padding: 20px;
    text-align: justify;
  }
  .Contenido p b{ 
    color:rgb(218, 106, 27);
  }
  .Contenido ol{
    text-align: justify;
    padding: 0px 20px 0px 40px;
  }

  .Contenido h1{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
    color: rgb(218, 106, 27);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  ul{
    margin: 0;
  }
  ol{
    margin: 0;
  }
  .principal1{
    width: 100%;
    background-color: #555;
    padding: 25px 0px;
  }
  .principal1 h2{
    text-align: center;
    color: rgb(218, 106, 27);
    padding: 0px;
    margin: 0px;
  }
  .menu{
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0px;
    border:none;
}
.mhorz{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden; /*¿Qué es esto?*/
    background-color: white;
    height: 100px;
}
.horz{
    float: left;    
}
.horz a{
    display: block;
    padding: 40px 16px;
    height: 100px;
    margin: 0;
    text-decoration: none;
    color: #555;
    font-weight: bolder;
}
a:hover{
    background-color: #555;
    color: rgb(218, 106, 27);
    font-weight: bolder;
}
.pie{
    width: 100%;
    height: 60px;
    margin: 0px 0px;
    padding-top: 10px; 
    text-align: center;
}